/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2014, 12:07:58 PM
    Author     : Compaq
*/

html, body{
    margin: 0 auto;
    border: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
    margin: 0 auto !important;
    padding: 0;
}
.parent li{
    line-height: 24px;
}
.parent > li > ul > li{
    padding: 0 10px;
}
.parent-menu.active{
}
.login-box{
    margin: 0 auto;
    width: 35%;
}
.child{
    display: none;
}
.active{
    display: block;
}
.child .active{
